extends layout

block content  
    article(id="blog")
        ol
            li
                h1 Yerevan: a city of potential wrapped in confusion
                blockquote Seven days of Armenia, specifically Yerevan, has left us giddy with joy. Giddy in terms of the raw potential this city and its amazing people possess.
                    a(href="#readmore") read more
            li
                h1 TEDx Yerevan: government, self realization, love of the city
                blockquote In four years, Kristine Sargsyan, the Founder and Licensee of TEDxYerevan event, with her team has established a must-to-go event. For the lack of internationality and variety of topics the event alternately offers a set of passionate speakers with personal stories that left some with tears.
                    a(href="#readmore") read more