extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")                  
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="")
            a(href="#where") where
          li(class="")
            a(href="#why") why           
          li(class="")
            a(href="#who") who
          li(class="")
            a(href="#lessons") lessons          

  div(class="hero") 
    img(src="images/logo.png")
    div
      small find us on:
      a(id="fb", href="https://www.facebook.com/bitstoberlin") fb
      a(id="tw", href="https://www.twitter.com/bitstoberlin") twitter
      a(id="ig", href="http://instagram.com/bitstoberlin") instagram

  div(id="where", class="meat")
    h1 where and when?    

    div(id="yerevan", class="city")
      h2 7/8 - 7/25 yerevan, armenia
      p Vache's place of birth, Yerevan is our first stop and the homebase for our companies.
      h2 7/25 - 7/25 moscow, russia
      p You can not ignore Moscow, it is home to some of the largest corporations in the region. Two of whom we met. Abbyy and Weber CoMechanics. <br> Thought be wary of the prices, we could not stay long due to our budgets.
      h2 7/26 - 7/29 st. petersburg, russia
      p We took a night train to st. petersburg, though having not arranged any meeting in advance we were able to meet the local AIESEC President Kate Trofimova. This one contact in st. petersburg opened doors in latter cities to come.
      h2 7/29 - 8/2 helsinki, finland
      p Home of Nokia and deer meat, Helsinki is a uniquely situated city with a government supported tech heavy ecosystem. The continuing demise of Nokia has fueled a startup frenzy. Here we met the LocalBitcoins team.
      h2 8/2 - 8/8 tallinn, estonia
      p A shuttle across the Baltic Sea takes to Tallinn, the home of the Skype millionaires and smart city tech integration like nowhere else (maybe San Fran??). Need to pay for parking, just SMS, got Bills? just SMS, restaurant reservation? just SMS. <br> It also happens to be home to StartupWiseGuys, an accelerator with a team that leaks dedication up the wazoo. Mike and Chris of SWG took us along to their startup weekend LeanStartup Workshop. This is where the fun starts. Read More (soon)
      h2 8/8 - 8/12 riga, latvia
      p A bus ride away from Tallinn, Riga is an emerging startup market, with a few success stories mainly as a result of the Techub Riga co-working space and its community. Startups and Techub are attached at hip. Check our cobook.co, reach.ly and the main social media portal, yes more used than FB, draugiem.lv.
      h2 8/3 - 8/18 bucharest, romania
      p Having met Vlad Stan of doersapp.com at AngelHack NYC 2013, we were convinced to visit Bucharest. Not only did we get to meet awesome people and see bunch of startups bitch at Techhub Bucharest, but we also met engineers from Facebook London and startup founders from allover the region who call Bucharest their peculiar home. 
      h2 8/18 - 8/21 sofia, bulgaria
      p 10 months ago I had heard a story about an Armenian startup who after winning Microsoft Challenge in St. petersburg was accepted to the Eleven Sofia Accelerator program. Armenian startup in Sofia, cool, but thats not all, the founders are British, Italian and Armenian, all having met and worked together at the Tumo center in Yerevan. The whole thing made Sofia a must visit. That said, the real gem was the BetaHaus co-working space. 
      h2 8/21 - 8/21 budapest, hungary
      p 5 hours of Budapest and we were able to meet IseeQ, a conversation that requires a whole article of its own. (coming soon)
      h2 8/23 - 8/24 prague, czech republic
      p On our way to Berlin, the next logical stop was Prague. We thought finally we can go out, rest and get ready for Disrupt Berlin. Nop. Well we were able to visit the "Hub" and after spending a whole day there you will be leave emotionally unstable. The Hub space is world class, it was like visiting Huge, or R/GA or Ideo offices. You get the gist. 
      h2 8/25 - 9/1 berlin, germany
      p Finally we have reached Berlin. Stay Tuned as our team from Armenia and friends from New York compete at the Techcrunch Disrupt Hackathon.

  div(id="why", class="meat")
    h1 why the 12 cities?
    p Why should you visit Estonia? Romania? Bulgaria?! The reality is that being in America or in any single place for too long, one becomes confined to one's own surroundings, a bubble. Even though the internet can connect us to any place on earth at any time, we do not actually have concrete physical connections, the strands that connect us to people.
    p Tangible stories in actual physical places with coffee machines and plants and people hard at work; these are the physical nodes that improve our digital lives. Our mission to discover and to learn from others is more than a bohemian manifesto. It is, in our opinion, the only way to learn and grow. 
    p Bits to Berlin is a trip across Eastern Europe with the aim to discover and engage communities that are otherwise ignored, when seen from the point of view of a comfortable office in the New York bubble. 
  
  div(id="who", class="meat")
    h1 who we are?
    p Pasha Riger and Vache Asatryan  -- will tell you more latter, for now follow us on Twitter @vachi and @pashariger

  script(type="text/javascript", src="javascripts/bootstrap.min.js")
  