extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")                  
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="")
            a(href="#where") where
          li(class="")
            a(href="#why") why           
          li(class="")
            a(href="#who") who
          li(class="")
            a(href="#lessons") lessons          

  div(class="hero") 
    img(src="images/logo.png")
    div
      small find us on:
      a(id="fb", href="https://www.facebook.com/bitstoberlin") fb
      a(id="tw", href="https://www.twitter.com/bitstoberlin") twitter
      a(id="ig", href="http://instagram.com/bitstoberlin") instagram

  div(id="where", class="meat")
    h1 where and when?    

    div(id="yerevan", class="city")
      h2 9/8 - 9/25 yerevan, armenia
      p Vache's place of birth, Yerevan is our first stop and the homebase for our companies.
      h2 9/25 - 9/25 moscow, russia
      p You cannot ignore Moscow, it is home to some of the largest corporations in the region. Two of whom we met. Abbyy and Weber CoMechanics. <br> Thought be wary of the prices, we could not stay long due to our budgets.
      h2 9/26 - 9/29 st. petersburg, russia
      p We took a night train to st. petersburg, though having not arranged any meeting in advance we were able to meet the local AIESEC President Kate Trofimova. This one contact in st. petersburg opened doors in later cities to come.
      h2 9/29 - 10/2 helsinki, finland
      p Home of Nokia and deer meat, Helsinki is a uniquely situated city with a government supported tech heavy ecosystem. The continuing demise of Nokia has fueled a startup frenzy. Here we met the LocalBitcoins team.
      h2 10/2 - 10/8 tallinn, estonia
      p A shuttle across the Baltic Sea took us to Tallinn, the home of the Skype millionaires and smart city tech integration like nowhere else. <br> It also happens to be home to StartupWiseGuys, an accelerator with an international team mentoring teams founded 6 different countries. Mike and Chris of SWG took us along to their startup weekend LeanStartup Workshop. This is where the fun starts.
      h2 10/8 - 10/12 riga, latvia
      p A bus ride away from Tallinn, Riga is an emerging startup market, with a few success stories mainly as a result of the Techub Riga co-working space and its community. Startups and Techub are attached at hip. For example check out cobook.co, reach.ly and the main social media portal draugiem.lv.
      h2 10/13 - 10/18 bucharest, romania
      p Having met Vlad Stan of doersapp.com at AngelHack NYC 2013, we were convinced to visit Bucharest. Not only did we get to meet awesome people and see bunch of startups bitch at Techub Bucharest, but we also met engineers from Facebook London and startup founders from allover the region who call Bucharest their peculiar home. 
      h2 10/18 - 10/21 sofia, bulgaria
      p 10 months ago I had heard a story about an Armenian startup who after winning Microsoft Challenge in St. petersburg was accepted to the Eleven Sofia Accelerator program. Armenian startup in Sofia, cool, but thats not all, the founders are British, Italian and Armenian, all having met and worked together at the Tumo center in Yerevan. The whole thing made Sofia a must visit. That said, the real gem was the BetaHaus co-working space. 
      h2 10/21 - 10/21 budapest, hungary
      p 5 hours of Budapest and we were able to meet IseeQ, a conversation that requires a whole article of its own.
      h2 10/23 - 10/24 prague, czech republic
      p On our way to Berlin, the next logical stop was Prague. We thought finally we can go out, rest and get ready for Disrupt Berlin. Nop. Well we were able to visit the "Hub" and after spending a whole day there you will be leave emotionally unstable. The Hub space is world class, it was like visiting Huge, or R/GA or Ideo offices. You get the gist. 
      h2 10/25 - 11/1 berlin, germany
      p Finally we have reached Berlin. Stay Tuned as our team from Armenia and friends from New York compete at the Techcrunch Disrupt Hackathon.

  div(id="why", class="meat")
    h1 why the 12 cities?
    p Why should you visit Estonia? Romania? Bulgaria?! The reality is that being in America or in any single place for too long, one becomes confined to one's own surroundings, a bubble. Even though the internet can connect us to any place on earth at any time, we do not actually have concrete physical connections, the strands that connect us to people.
    p Tangible stories in actual physical places with coffee machines and plants and people hard at work; these are the physical nodes that improve our digital lives. Our mission to discover and to learn from others is more than a bohemian manifesto. It is, in our opinion, the only way to learn and grow. 
    p Bits to Berlin is a trip across Eastern Europe with the aim to discover and engage communities that are otherwise ignored, when seen from the point of view of a comfortable office in the New York bubble. 
  
  div(id="who", class="meat")
    h1 who we are?
    p Pasha Riger and Vache Asatryan  -- will tell you more latter, for now follow us on Twitter @vachi and @pashariger


  

  div(id="lessons", class="meat")
    h1 lesson 1: The Armenian Potential
    p Living in the New York news and information bubble, its really hard to imagine that half across the globe, 9000 km away, there is a small country with a bustling startup ecosystem, heading in a direction not too different from your own. Armenia has 2.9 million people, with more than 30% of them living in Yerevan (its capital). 
    p Before we embarked on our journey we surveyed our colleagues and peers about what they thought was going on in Eastern Europe. The response was overwhelmingly consistent in that they didn’t have a clue, and would have guessed Cold War conditions, with lack of modern skills and lack of technology penetration. They would not consider hiring a developer from CEE (Central and Eastern Europe) because they would see problems with language, skills and reliability. However, these concerns have no merit, and as we’ll soon see the situation is quite the opposite. Perhaps those reasons are simply projections of America’s own problems of an over saturated tech market situation, where skillful and dedicated employees are hard to find, and impossible to afford (for a startup). 
    p Why do we seem so optimistic about the Armenia? From our intimate mingling and research, we’ve found a multitude of indicators which point to an early stage, but rapidly maturing ecosystem. Here they are:

    h2 Desire and Volume
    p Within the first couple of weeks of arriving, we’ve been meeting teams and individuals who have prospective products and projects. Most of these guys have had the entrepreneurial spark in their eye. They were willing to take risks and to work hard. This hunger is critical to have in any startup community. 

    h2 Growing Repatriation
    p There are twice as many Armenians in the rest of the world, as there are in Armenia. Many of the diaspora are successful in business, art and technology entrepreneurship. Some members of these initiatives have come back to Armenia, and are now working to support or invest into the county’s bright future.
    h2 Cost of Living
    p For individuals and teams in the IT sector, who make products for the global market and have above average IT salaries, life in Armenia is great! Compared to New York, rent is about 4-10x cheaper and transportation is 10x less expensive. Food is all natural, and 2-5x less expensive than in the West.  Overall, for a lean team that wants to work on cool tech, there is absolutely no barrier from the point of view of living expenses.   
    h2 Competent Education
    p Why is Armenia, along with other CEE countries, considered to be a great place for outsourcing? It’s not only because of the price difference with a western worker, its also due to the capability of a the Armenian engineer. While there are many flaws with post-soviet education system, one of the thing it does well is provide the students with a strong and wide theoretical base in math and science, as well as a methodical and rigorous problem-solving ability. Thanks mother Russia! From our conversations with students and faculty, we noticed that they are at a much higher level of reasoning than the average US college grad.
    h2 Tech Infrastructure
    p When looking at the prices (~$70/mo phone bill) and coverage of telecom in the US, one can get pretty pessimistic about the rest of the world. However, after visiting most places in the region, you get the clear picture. Internet is ubiquitous, and smartphone adoption in probably higher than most cities in the US, while at a fraction of the cost.
    h2 Cultural Diversity
    p An American would be lucky if their 1st or 2nd generation parents left them with a bilingual education. An Armenian would be unlucky if they ended up not fluent in Russian, English and Armenian by the time they were in college. Russian opens the way to communicate with 250 million people in the region, while English takes care of the rest. Depending on their roots and background, some substitute Russian for Arabic, which opens the way to talk to another 800 million people around the globe. 
    h2 Venture Capital
    p Startups need venture capitalists, and vice versa. This element, missing for some time from the Armenian market, is beginning to come around, with at least two large funds in the process of being opened within the next 6 months. This is going to empower entrepreneurs and talent to go out and make their ideas into reality.
    h2 Community Events
    p Over the last several years, events like Startup Cup, Startup Weekend and TEDx have started to pop up. A number of organizers have started the process of sharing the western startup culture with the Armenian populace. This is a crucial educational step.

    p Developments in each of the above areas are crucial in establishing a healthy startup environment, and they are all happening at the same time. That’s great! However, having one foot in Armenia and the other in the rest of the world, we see several key areas in need of improvement in building a strong entrepreneurial culture and community:

    h2 Co-working Spaces
    p From our travels, we found a strong correlation between a thriving community and the quality of its co-working spaces. Yerevan currently lacks in this area since there are no modern spaces in which teams and professionals can comfortably work and mingle. Models such as BetaHaus and TechHub attempt to build spaces with a multitude of talent from different walks and careers in life.
    h2 Independence
    p Sustainable businesses are not run on charity, government grants, or favors. They thrive on independence, profitable business plans, and mutually beneficial partnerships. Whatever communities spring up, such as co-working spaces and accelerators, they must be organized with a strong advocacy of independence from local groups and beaurocratic forces within the country. People who make up the community should dictate its values up, they shouldn’t be dictated down by a few sponsors with an agenda.
    h2 Events
    p While Yerevan has experienced TEDx and StartupCup, this is only the beginning and should be supplemented with the following three categories of events. Technical workshops are great for presenting the latest and greatest tech, which allows developers to stay competitive with their foreign counterparts. Hackathons should be organized to allow developers to reinforce their workshop-learned skills with hacking on innovative ideas. Lean startup is the last set of methodologies we’d recommend, as it deals strongly with the process of customer validation, something Armenian teams tend not to think much about. 
    p Outside Mentorship
    p While repatriation is bringing outside knowledge and know-how back to Armenia, the trickle-down effect is pretty slow. Yerevan would highly benefit from bringing mentorship from abroad, and attempting to attract foreign talent to choose Armenia as their base of operations.
    hr    
    p Our outlook is certain to become increasingly clear as we spend more time in Armenia, but this is our current analysis of the situation. We don’t know who will perform the items from the suggestion list, but we are looking to start and/or support these initiatives in multiple ways. Stay tuned.
    br


  script(type="text/javascript", src="javascripts/bootstrap.min.js")