extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")                  
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="")
              a(href="#where") where
            li(class="")
              a(href="#why") why           
            li(class="")
              a(href="#who") who
            li(class="")
              a(href="#lessons") lessons          

 


  script(type="text/javascript", src="javascripts/bootstrap.min.js")
  