extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")        
        a(href="#hero" class="navbar-brand") florenciamayer          
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="")
            a(href="#bio") bio
          li(class="")
            a(href="#museums") museums          
          li(class="")
            a(href="#collection") new collection          
          li(class="")
            a(href="#materials") materials
          li(class="")
            a(href="#workshops") workshops          
          li(class="")
            a(href="#press") press          
          li(class="")
            a(href="#cv") cv
          li(class="")
            a(href="#contact") contact          
            
  div(id="hero", class="hero") 
    img(src="images/logolarge.png")    

  div(id="bio", class="meat")
    h1 Biography
    blockquote &ldquo;Like many other creative souls, I am constantly searching for my way in the artistic world&rdquo;
    p Born in Buenos Aires, Argentina, Florencia Mayer is a fashion jewelry designer specializing in artisanal techniques. She combines a unique experience with a wide range of materials such as fresh pearls, recycled vintage pieces, rubber, and natural wools with an acute artistic taste. This ability allows her to create pieces that are more than just jewelry but are representations of the artist’s mind. Her pursuit for the arts, have it be dancing flamenco and ballet or creating jewelry. During her career in Argentina. Flora created elegant collections for specialty shops and Museums in Argentina often inspired by historical and romantic imagery so vibrant in my culture.
        

  div(id="museums", class="meat")
    h1 Museums
    p I´m selling my pieces at the shops of various museums: at the Thyssen Bornemisza Museum of Madrid , in Buenos Aires at The National Museum of Decorative Arts, at the Historical Museum of San Isidro and at the Evita´s Museum.
    p My designs were inspired on pictures belonging to their own Collections.


    h3 Arte Decorativo
    p The National Museum of Decorative Art, founded in 1937, was originally the residence of the family formed by Josefina de Alvear and her husband Matias Errazuriz Ortúzar.
    p The Alvear, based in Argentina, had an outstanding performance in the political and social development from the late eighteenth century.
    p The marriage, interested in art and antiques took years lived in Europe to gain valuable art collection and Eastern Europe mostly comprise today the heritage of the National Museum of Decorative Art.
    a(href="www.mnad.org") visit The National Museum of Decorative Art at mnad.org
    
    hr(class="clearfix")

    div(id="arte", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#arte" data-slide-to="0" class="active")
        li(data-target="#arte", data-slide-to="1")
        li(data-target="#arte", data-slide-to="2")
        li(data-target="#arte", data-slide-to="3")
        li(data-target="#arte", data-slide-to="4")
        li(data-target="#arte", data-slide-to="5")  
        li(data-target="#arte", data-slide-to="6")
        li(data-target="#arte", data-slide-to="7")  
      
      div(class="carousel-inner")
        div(class="item active introItem")
          div 
            h4 "Josefina de Alvear Errazuriz" 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was owner of the residence. He wears a red velvet dress with fur trim and white lace sleeves. Luce an up style with a white feather trim, his gestures are elegant and look and gesture are calm and rested.
          img(src="/images/arte/josefina/josefina.jpg", alt="")
          h5 Sorolla y Bastida, Joaquín (1863-1923)          

        div(class="item imgGrid")          
          img(src="/images/arte/josefina/josefina-1.jpeg", alt="")
          img(src="/images/arte/josefina/josefina-2.jpeg", alt="")          
          img(src="/images/arte/josefina/josefina-3.jpeg", alt="")                
          p(class="carousel-caption") Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots
      
        div(class="item introItem")
          div 
            h4 Geraldy, Marie Thérèse
          img(src="/images/arte/geraldy/geraldy.jpg", alt="")
          h5 Tatiana Zubov, Portrait

        div(class="item imgGrid")          
          img(src="/images/arte/geraldy/geraldy-2.jpeg", alt="")          
          img(src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
          img(src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
          p(class="carousel-caption") Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

        div(class="item introItem")
          div 
            h4 'Coromandel' Folding Screen
            p Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots
          img(src="/images/arte/folding-screen/folding-screen.jpg", alt="")
          h5 Lacquered wood, China, Kang Hi Period, (1862-1722)

        div(class="item imgGrid")
          img(src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
          img(src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                    
          p(class="carousel-caption") Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

        div(class="item introItem")
          div 
            h4 Dance Hall            
          img(src="/images/arte/dance-hall/dance-hall.jpg", alt="")          

        div(class="item imgGrid")
          img(src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")
          img(src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")                                    
          p(class="carousel-caption") Dithering necklace with beads and tail threading with glass beads.



      a(class="left carousel-control", href="#arte" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#arte", data-slide="next")
        span(class="icon-next")
      

    h3 Thyssen
    p I´m selling my pieces at the shops of various museums: at the Thyssen Bornemisza Museum of Madrid , in Buenos Aires at The National Museum of Decorative Arts, at the Historical Museum of San Isidro and at the Evita´s Museum.


    div(id="thyssen", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#arte" data-slide-to="0" class="active")
        li(data-target="#arte", data-slide-to="1")
        li(data-target="#arte", data-slide-to="2")
        li(data-target="#arte", data-slide-to="3")
        li(data-target="#arte", data-slide-to="4")
        li(data-target="#arte", data-slide-to="5")  
        li(data-target="#arte", data-slide-to="6")
        li(data-target="#arte", data-slide-to="7")  
      
      div(class="carousel-inner")
        div(class="item active introItem")
          div 
            h4 "Josefina de Alvear Errazuriz" 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was owner of the residence. He wears a red velvet dress with fur trim and white lace sleeves. Luce an up style with a white feather trim, his gestures are elegant and look and gesture are calm and rested.
          img(src="/images/arte/josefina/josefina.jpg", alt="")
          h5 Sorolla y Bastida, Joaquín (1863-1923)          

        div(class="item imgGrid")          
          img(src="/images/arte/josefina/josefina-1.jpeg", alt="")
          img(src="/images/arte/josefina/josefina-2.jpeg", alt="")          
          img(src="/images/arte/josefina/josefina-3.jpeg", alt="")                
          p(class="carousel-caption") Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots
      
        div(class="item introItem")
          div 
            h4 Geraldy, Marie Thérèse
          img(src="/images/arte/geraldy/geraldy.jpg", alt="")
          h5 Tatiana Zubov, Portrait

        div(class="item imgGrid")          
          img(src="/images/arte/geraldy/geraldy-2.jpeg", alt="")          
          img(src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
          img(src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
          p(class="carousel-caption") Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

        div(class="item introItem")
          div 
            h4 'Coromandel' Folding Screen
            p Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots
          img(src="/images/arte/folding-screen/folding-screen.jpg", alt="")
          h5 Lacquered wood, China, Kang Hi Period, (1862-1722)

        div(class="item imgGrid")
          img(src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
          img(src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                    
          p(class="carousel-caption") Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

        div(class="item introItem")
          div 
            h4 Dance Hall            
          img(src="/images/arte/dance-hall/dance-hall.jpg", alt="")          

        div(class="item imgGrid")
          img(src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")
          img(src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")                                    
          p(class="carousel-caption") Dithering necklace with beads and tail threading with glass beads.         

      a(class="left carousel-control", href="#thyssen" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#thyssen", data-slide="next")
        span(class="icon-next")


    h3 Beccar Varela
    p Beccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar VarelaBeccar Varela

    div(id="beccar", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#beccar" data-slide-to="0" class="active")
        li(data-target="#beccar" data-slide-to="1")
        li(data-target="#beccar" data-slide-to="2")
        li(data-target="#beccar" data-slide-to="3")
      
      div(class="carousel-inner")
        div(class="item active")
          div 
            h4 this si the title of the piece
            p this is the destiocng og the piece
            img(src="http://placehold.it/340x500", alt="")
          div(class="carousel-caption")
            slide 1      

        div(class="item")          
          img(src="http://placehold.it/900x500", alt="")
          div(class="carousel-caption")
            slide this is the photo       

        div(class="item")          
          img(src="http://placehold.it/900x500", alt="")
          div(class="carousel-caption")
            slide this is the asdfsadfasdf

        div(class="item")
          div 
            h4 this si the title of the piece
            p this is the destiocng og the piece
            img(src="http://placehold.it/340x500", alt="")
          div(class="carousel-caption")
            slide 2         

      a(class="left carousel-control", href="#beccar" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#beccar", data-slide="next")
        span(class="icon-next")
    
    hr

    div(id="evita", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#arte" data-slide-to="0" class="active")
        li(data-target="#arte", data-slide-to="1")
        li(data-target="#arte", data-slide-to="2")
        li(data-target="#arte", data-slide-to="3")
        li(data-target="#arte", data-slide-to="4")
        li(data-target="#arte", data-slide-to="5")  
        li(data-target="#arte", data-slide-to="6")
        li(data-target="#arte", data-slide-to="7")  
      
      div(class="carousel-inner")
        div(class="item active introItem")
          div 
            h4 Evita
            p Evita, the famous First Lady, wife of President Juan Domingo Perón, is best known by Madonna´s versión of “Don´t Cry for me Argentina”, was and is still loved and adored by many Argentinians.
            p This Museum has a great collection of Evita´s original dresses and gowns, shoes and jewelry.
            p These pieces of mine, sold at the Museum´s shop, are inspired by the front page picture of Evita´s book of Reading for school children “The Reason of my life”.
            p Dithering necklace, earrings and brooch with woven flowers with glass beads and gold and silver knots
          img(src="/images/arte/evita/evita.jpg", alt="")
          h5 La razón de mi vida, Book Cover, (1951)          

        div(class="item")          
          img(src="/images/arte/evita/evita-1.jpg", alt="")          
          p(class="carousel-caption") Dithering necklace, earrings and brooch with woven flowers with glass beads and gold and silver knots

        div(class="item")          
          img(src="/images/arte/evita/evita-2.jpg", alt="")          
          
        div(class="item")          
          img(src="/images/arte/evita/evita-3.jpg", alt="")          

        div(class="item")          
          img(src="/images/arte/evita/evita-4.jpg", alt="")          
      
        div(class="item")          
          img(src="/images/arte/evita/evita-5.jpg", alt="")          

        div(class="item")          
          img(src="/images/arte/evita/evita-6.jpg", alt="")          

        div(class="item")          
          img(src="/images/arte/evita/evita-7.jpg", alt="")          

      a(class="left carousel-control", href="#evita" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#evita", data-slide="next")
        span(class="icon-next")



    h3 Women Inspiration
    p Women InspirationWomen InspirationWomen Inspiration Women Inspiration Women Inspiration Women Inspiration Women Inspiration Women Inspiration 

    div(id="women", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#women" data-slide-to="0" class="active")
        li(data-target="#women", data-slide-to="1")
        li(data-target="#women", data-slide-to="2")
        li(data-target="#women", data-slide-to="3")
      
      div(class="carousel-inner")
        div(class="item active")
          div 
            h4 this si the title of the piece
            p this is the destiocng og the piece
            img(src="http://placehold.it/340x500", alt="")
          div(class="carousel-caption")
            slide 1      

        div(class="item")          
          img(src="http://placehold.it/900x500", alt="")
          div(class="carousel-caption")
            slide this is the photo       

        div(class="item")          
          img(src="http://placehold.it/900x500", alt="")
          div(class="carousel-caption")
            slide this is the asdfsadfasdf

        div(class="item")
          div 
            h4 this si the title of the piece
            p this is the destiocng og the piece
            img(src="http://placehold.it/340x500", alt="")
          div(class="carousel-caption")
            slide 2         

      a(class="left carousel-control", href="#women" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#women", data-slide="next")
        span(class="icon-next")


  div(id="collection", class="meat")
    h1 2013 Collection: Indian Mirrors
    p I recently began spending time in New York to create a new collection entitled "Indian Mirrors", a "Reflection of your Soul". 
    p It is inspired by the ancient Indian concept for the wisdom obtained when we look inward and learn from being with oneself.     


    h3 Abha
    p Abhasdf asdf sd af dsaf sad f sadf 

    div(id="Abha", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#Abha" data-slide-to="0" class="active")
        li(data-target="#Abha", data-slide-to="1")
      
      div(class="carousel-inner")    
        div(class="item active")          
          img(src="/images/indian-mirrors/Abha-Light.jpg", alt="")

          div(class="carousel-caption")
            slide this is the photo  
        
        div(class="item")          
          img(src="/images/indian-mirrors/Abha-Light-2.jpg", alt="")
          div(class="carousel-caption")
            slide this is the photo  
        
      a(class="left carousel-control", href="#Abha" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#Abha", data-slide="next")
        span(class="icon-next")


    h3 Asha Hope
    p Asha-Hope Asha-Hope.jpg Asha-Hope.jpg Asha-Hope.jpg

    div(id="Abha", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#Abha" data-slide-to="0" class="active")        
      
      div(class="carousel-inner")    
        div(class="item active")          
          img(src="/images/indian-mirrors/Asha-Hope.jpg", alt="")
          div(class="carousel-caption")
            slide this is the photo  

  div(id="materials", class="meat")
    h1 Finding Materials
    p I have always been attracted to beautiful hand made pieces .
    p My passion for necklaces started by chance. When I began to create pieces and connect with the materials, I realized and understood the value of “creating” a new piece in connection with the person that would eventually wear it.
    p With my creations, I’m looking forward to awake the senses and generate a feeling of pleasure when wearing a piece.
    p My designs are mainly based on handy made forms creating ethereal sensations of movements through different textures and colours given by the materials I use (semiprecious stones, river pearls, mother of the pearls, passamanerie and organdy laces, and recycled antique jewelry.)
    p I have a passion for finding new materials and creating designs with them.
    p I´ve investigated and experimented with different materials, from buttons (galatit paste) to happy birthday balloons. I´ve arrived to the conclusion that I consider it important to appreciate our own natural resources and, on the other hand, create an environmental conscience besides thinking in their future sustenance.    


    div(id="materialsSlider", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#materialsSlider" data-slide-to="0" class="active")
        li(data-target="#materialsSlider", data-slide-to="1")
        li(data-target="#materialsSlider", data-slide-to="2")        
        li(data-target="#materialsSlider", data-slide-to="3")
        li(data-target="#materialsSlider", data-slide-to="4")
        li(data-target="#materialsSlider", data-slide-to="5")        
      
      div(class="carousel-inner")    
        div(class="item active")          
          img(src="images/workshop/workshop-1.jpg")
          div(class="carousel-caption")
            slide this is the photo  

        div(class="item")          
          img(src="images/workshop/workshop-4.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-5.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-6.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-7.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-8.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf


      a(class="left carousel-control", href="#materialsSlider" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#materialsSlider", data-slide="next")
        span(class="icon-next")

  div(id="workshops", class="meat")
    h1 Jewelry Workshops
    p The workshops started because I liked the idea of accompanying people whether adults or children to discover their own creativity.
    p It was something that was born from my own experience of creativity.
    p I think it's wonderful what everyone can create, recycle or design if they discover their inner world.
    p That is the intention of my workshops beyond the knowledge and techniques that I can teach them.
    p I love working with children because they are very sweet and they enjoy a lot and are surprised when they discover and create. They are happy when they see that they can assemble pieces like necklaces and later take them to their homes with them.
    p It's nice and very funny.
    p The idea of the workshop is to teach girls accessories for a super fun way to create and build their own accessories and bijou according to their age.
    p It is ideal for creating and fun.


    div(id="workshopsSlider", class="carousel slide")  
      ol(class="carousel-indicators")
        li(data-target="#workshopsSlider" data-slide-to="0" class="active")
        li(data-target="#workshopsSlider", data-slide-to="1")
        li(data-target="#workshopsSlider", data-slide-to="2")        
        li(data-target="#workshopsSlider", data-slide-to="3")
        li(data-target="#workshopsSlider", data-slide-to="4")
        li(data-target="#workshopsSlider", data-slide-to="5")        
      
      div(class="carousel-inner")    
        div(class="item active")          
          img(src="images/workshop/workshop-1.jpg")
          div(class="carousel-caption")
            slide this is the photo  

        div(class="item")          
          img(src="images/workshop/workshop-4.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-5.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-6.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-7.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 

        div(class="item")          
          img(src="images/workshop/workshop-8.jpg")
          div(class="carousel-caption")
            slide waefasdfasdf 


      a(class="left carousel-control", href="#workshopsSlider" data-slide="prev")
        span(class="icon-prev")  
      
      a(class="right carousel-control", href="#workshopsSlider", data-slide="next")
        span(class="icon-next")



  div(id="press", class="meat")
    h1 Press
    ul
      li 
        h2 Press Titles
        p some text abotu the press
        img(src="images/7816_164094793972_3644527_n.jpg")

  div(id="cv", class="meat")
    h1 CV
    ul 
      li 
        h2 1978
        p mething that was born from my own experience of creativity. p I think it's wonderful what everyone can create, recycle or

  div(id="contact", class="meat")
    h1 contact    