extends layout

block content  
  div(class="navbar")    
    ul
      li(class="")
        a(href="#bio") bio
      li(class="")
        a(href="#museums") museums
      li(class="")
        a(href="#collection") new collection
      li(class="")
        a(href="#materials") materials
      li(class="")
        a(href="#workshops") workshops
      li(class="")
        a(href="#press") press
      li(class="")
        a(href="#cv") cv
      li(class="")
        a(href="#contact") contact
  
  article(class="clearfix")
    div(id="hero", class="section hero active") 
      img(src="images/logolarge.png")    

    div(id="bio", class="section")
      h1 Biography    
      p Born in Buenos Aires, Argentina, Florencia Mayer is a fashion jewelry designer specializing in artisanal techniques. She combines a unique experience with a wide range of materials such as fresh pearls, recycled vintage pieces, rubber, and natural wools with an acute artistic taste. This ability allows her to create pieces that are more than just jewelry but are representations of the artist’s mind. Her pursuit for the arts, have it be dancing flamenco and ballet or creating jewelry. During her career in Argentina. Flora created elegant collections for specialty shops and Museums in Argentina often inspired by historical and romantic imagery so vibrant in my culture.
          

    div(id="museums", class="section")
      h1 Museums
      p I´m selling my pieces at the shops of various museums: at the Thyssen Bornemisza Museum of Madrid , in Buenos Aires at The National Museum of Decorative Arts, at the Historical Museum of San Isidro and at the Evita´s Museum.
      p My designs were inspired on pictures belonging to their own Collections.

    
 
    div(class="intro tile")
      h3 Arte Decorativo
      p The National Museum of Decorative Art, founded in 1937, was originally the residence of the family formed by Josefina de Alvear and her husband Matias Errazuriz Ortúzar.
      p The Alvear, based in Argentina, had an outstanding performance in the political and social development from the late eighteenth century.
      p The marriage, interested in art and antiques took years lived in Europe to gain valuable art collection and Eastern Europe mostly comprise today the heritage of the National Museum of Decorative Art.
      a(href="www.mnad.org") visit The National Museum of Decorative Art at mnad.org
        
    div(class="item tile")      
      a(class="clearfix", href="#josefina")
        img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
      div(id="josefina", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-3.jpeg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina.jpg", alt="")
            h5 Sorolla y Bastida, Joaquín (1863-1923)
            h4 "Josefina de Alvear Errazuriz" 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was owner of the residence. He wears a red velvet dress with fur trim and white lace sleeves. Luce an up style with a white feather trim, his gestures are elegant and look and gesture are calm and rested.        

            h5 materials used:
            p Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots          

    div(class="item tile")      
      a(class="clearfix", href="#geraldy")
        img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-2.jpeg", alt="")  
      
      div(id="geraldy", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy.jpg", alt="")
            h5 Tatiana Zubov, Portrait
            h4 Geraldy, Marie Thérèse
            
            h4 materials used:
            p Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#folding") 
        img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")

      div(id="folding", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                         

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen.jpg", alt="")
            h5 Lacquered wood, , Kang Hi Period, (1862-1722)
            
            h4 'Coromandel' Folding Screen
            h5 materials used:
            p Tail threading necklace with glass beads and  woven  stone flowers with knots  organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#dance")
        img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")  
      
      div(id="dance", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-3.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-4.jpeg", alt="")      
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall.jpg", alt="")                  
            h4 Dance Hall                      
            h5 materials used:
            p Dithering necklace with beads and tail threading with glass beads.
