extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")        
        a(href="#hero" class="navbar-brand") florenciamayer          
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="")
            a(href="#bio") bio
          li(class="")
            a(href="#museums") museums
          li(class="")
            a(href="#materials") materials
          li(class="")
            a(href="#collection") new collection          
          li(class="")
            a(href="#workshops") workshops          
          li(class="")
            a(href="#press") press          
          li(class="")
            a(href="#cv") cv
          li(class="")
            a(href="#contact") contact          
            
  div(id="hero", class="hero") 
    img(src="images/logolarge.png")    

  div(id="bio", class="meat")
    h1 Biograthy
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tellus nec felis accumsan ultrices. Donec sodales semper rutrum. Nullam at luctus dui. Mauris feugiat tristique mi eget posuere. Phasellus congue sit amet ante ac sodales. Nullam at libero sem. Maecenas et nisi magna.
    p Cras porttitor diam at mi fermentum commodo. Quisque pellentesque neque ut lectus rhoncus, vel rhoncus arcu volutpat. Integer non tempor elit. Nunc sed ullamcorper nunc, eget tempus erat. Fusce leo quam, fringilla vitae tellus quis, consequat consequat dolor. Sed et cursus metus. Nullam hendrerit turpis viverra est mollis, id euismod est posuere. Proin ut lacinia sem. Integer mollis nulla et lacus congue, et aliquet nunc tempus. Nunc eu convallis neque. Aliquam tristique dolor leo, sit amet condimentum enim dictum a. Sed dapibus imperdiet erat sed blandit. Integer consequat ornare dui nec egestas.
    p Vestibulum convallis enim tincidunt libero bibendum, ut iaculis nisl vestibulum. Aenean tincidunt, leo in aliquet faucibus, sapien lacus lobortis risus, non gravida enim nisi at risus. Suspendisse hendrerit at odio nec iaculis. Pellentesque eu justo sit amet massa eleifend volutpat et ac sem. Aenean fermentum risus auctor condimentum pulvinar. Etiam id accumsan nisl, quis volutpat ipsum. Maecenas ac laoreet sem. Suspendisse diam lorem, dapibus eu lectus id, consectetur consectetur urna.
    p In id metus felis. Vivamus ac hendrerit leo. Etiam sapien tellus, condimentum sed adipiscing sed, sagittis sit amet augue. Etiam imperdiet metus vitae orci venenatis, vel bibendum diam scelerisque. Curabitur rutrum ornare dolor sit amet blandit. Aliquam hendrerit lorem lacus, ut egestas lorem sagittis eu. Vestibulum in euismod erat. Donec porta est sit amet libero sodales, vel bibendum lacus blandit. Mauris sit amet volutpat mi. Suspendisse potenti. Nunc in sem gravida, rhoncus libero id, pulvinar neque. Cras enim mauris, luctus eu nisl in, pulvinar vehicula augue.

  div(id="museums", class="meat")
    h1 Biograthy
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tellus nec felis accumsan ultrices. Donec sodales semper rutrum. Nullam at luctus dui. Mauris feugiat tristique mi eget posuere. Phasellus congue sit amet ante ac sodales. Nullam at libero sem. Maecenas et nisi magna.
    p Cras porttitor diam at mi fermentum commodo. Quisque pellentesque neque ut lectus rhoncus, vel rhoncus arcu volutpat. Integer non tempor elit. Nunc sed ullamcorper nunc, eget tempus erat. Fusce leo quam, fringilla vitae tellus quis, consequat consequat dolor. Sed et cursus metus. Nullam hendrerit turpis viverra est mollis, id euismod est posuere. Proin ut lacinia sem. Integer mollis nulla et lacus congue, et aliquet nunc tempus. Nunc eu convallis neque. Aliquam tristique dolor leo, sit amet condimentum enim dictum a. Sed dapibus imperdiet erat sed blandit. Integer consequat ornare dui nec egestas.
    p Vestibulum convallis enim tincidunt libero bibendum, ut iaculis nisl vestibulum. Aenean tincidunt, leo in aliquet faucibus, sapien lacus lobortis risus, non gravida enim nisi at risus. Suspendisse hendrerit at odio nec iaculis. Pellentesque eu justo sit amet massa eleifend volutpat et ac sem. Aenean fermentum risus auctor condimentum pulvinar. Etiam id accumsan nisl, quis volutpat ipsum. Maecenas ac laoreet sem. Suspendisse diam lorem, dapibus eu lectus id, consectetur consectetur urna.
    p In id metus felis. Vivamus ac hendrerit leo. Etiam sapien tellus, condimentum sed adipiscing sed, sagittis sit amet augue. Etiam imperdiet metus vitae orci venenatis, vel bibendum diam scelerisque. Curabitur rutrum ornare dolor sit amet blandit. Aliquam hendrerit lorem lacus, ut egestas lorem sagittis eu. Vestibulum in euismod erat. Donec porta est sit amet libero sodales, vel bibendum lacus blandit. Mauris sit amet volutpat mi. Suspendisse potenti. Nunc in sem gravida, rhoncus libero id, pulvinar neque. Cras enim mauris, luctus eu nisl in, pulvinar vehicula augue.    
