extends layout

block content  
  div(class="navbar")    
    ul
      li(class="")
        a(href="#bio") bio
      li(class="")
        a(href="#museums") museums
      li(class="")
        a(href="#collection") new collection
      li(class="")
        a(href="#materials") materials
      li(class="")
        a(href="#workshops") workshops
      li(class="")
        a(href="#press") press
      li(class="")
        a(href="#cv") cv
      li(class="")
        a(href="#contact") contact
  
  article(class="clearfix")
    div(id="hero", class="section hero active") 
      img(src="images/logolarge.png")    

    div(id="bio", class="section")
      h1 Biography    
      div
        p Born in Buenos Aires, Argentina, Florencia Mayer is a fashion jewelry designer specializing in artisanal techniques. She combines a unique ten year experience with a wide range of materials such as fresh pearls, recycled vintage pieces, rubber, and natural wools with an acute artistic taste. This ability allows her to create pieces that are more than just jewelry but are representations of the artist’s mind.
        p Her pursuit for the arts, have it be dancing flamenco and ballet or creating jewelry. She likes to innovate and try different materials, such us buttons, balloons. During her career Florencia created elegant collections for specialty shops and Museums in Argentina and Spain often inspired by historical and romantic imagery so vibrant in her culture. She made some gallery exhibition both in Buenos Aires as in Madrid.
      img(src="/images/loader.gif" data-src="/images/flora-wide.png", alt="") 

    div(id="museums", class="tile intro main")
      h3 Museums &amp; Shops
      p I´m selling my pieces at the shops of various museums: at the Thyssen Bornemisza Museum of Madrid , in Buenos Aires at The National Museum of Decorative Arts, at the Historical Museum of San Isidro and at the Evita´s Museum. And the specialty Wussmann shop.
      p My designs were inspired on pictures belonging to their own Collections.

    div(class="intro tile")
      h3 Thyssen-Bornemisza Museum (Madrid, Spain)
      p With over 1,600 paintings the Thyssen-Bornemisza collection was once the second largest private collection in the world after the British Royal Collection. A competition was held to house the museum in 1986 after Baron Thyssen, having tried to enlarge his Museum in Villa Favorita, searched for a location in Europe.
      p The collection started in the 1920s as a private collection by Heinrich, Baron Thyssen-Bornemisza de Kászon. In a reversal of the movement of European paintings to the United States during this period, one of the elder Baron's sources was the collections of American millionaires coping with the Great Depression and inheritance taxes, from which he acquired such exquisite old master paintings as Ghirlandaio's portrait of Giovanna Tornabuoni (once in the Morgan Library) and Carpaccio's Knight (from the collection of Otto Kahn). The collection was later expanded by Heinrich's son Baron Hans Heinrich Thyssen-Bornemisza (1921–2002), who assembled most of the works from his relatives' collections and proceeded to acquire large numbers of new works to produce what is one of the world's finest private art collections.
      p These pieces of mine are sold at the Museum´s shop.

      a(target="_blank", href="http://www.museothyssen.org") visit The Thyssen-Bornemisza Museum at museothyssen.org
          
    div(class="item tile")
      a(class="clearfix", href="#brown")
        img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/brown/brown-2.JPG", alt="")
      div(id="brown", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/brown/brown-2.JPG", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/brown/brown-1.jpg", alt="")
            h5 Tough Customers
            h4 John George Brown (1881)
            
            h3 materials used:
            p Tail threading necklace with glass beads, woven flower with glass beads and organza flowers.

    div(class="item tile")
      a(class="clearfix", href="#degas")
        img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/degas/degas-2.JPG", alt="")
      div(id="degas", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap clearfix") 
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/degas/degas-2.JPG", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/degas/degas-1.jpg", alt="")
            h5 The green dancer (1877-1879)
            h4 Edgar Degas
            
            h3 materials used:
            p Dithering woven flowers necklace with glass beads, tiger eye beads and organza ribbons.

    div(class="item tile")
      a(class="clearfix", href="#morisot") 
        img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/morisot/morisot-3.jpeg", alt="")
      div(id="morisot", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/morisot/morisot-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/morisot/morisot-3.jpeg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/morisot/morisot-1.jpg", alt="")
            h5 The Psyche Mirror (1876) 
            h4 Berthe Morisot

            h3 materials used:
            p Dithering woven spheres necklace with glass beads, nacre beads and organza ribbons.

    div(class="item tile")
      a(class="clearfix", href="#singer")
        img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/singer/singer-2.jpg", alt="")
      div(id="singer", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/singer/singer-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/singer/singer-3.jpg", alt="")
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/thyssen-bornemisza/singer/singer-1.jpg", alt="")
            h5 Portrait of Millicent Leveson-Gower, Duchess of Sutherland (1904)
            h4 John Singer Sargent 
           
            h3 materials used:
            p Dithering necklace with glass beads,copper metal flowers and green organza ribbons


 
    div(class="intro tile")
      h3 National Museum of Decorative Art (Buenos Aires, Argentina)
      p The National Museum of Decorative Art, founded in 1937, was originally the residence of the family formed by Josefina de Alvear and her husband Matias Errazuriz Ortúzar.
      p The Alvears, based in Argentina, had an outstanding performance in the political and social development from the late eighteenth century.
      p The Matrimony marriage, interested in art and antiques took years while living in Europe to gain a valuable Eastern European art collection which mostly comprise today, the heritage of the National Museum of Decorative Art.
      p These pieces of mine are sold at the Museum´s shop.
      a(target="_blank", href="http://www.mnad.org") visit The National Museum of Decorative Art at mnad.org
        
    div(class="item tile")
      a(class="clearfix", href="#josefina")
        img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
      div(id="josefina", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-3.jpeg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina.jpg", alt="")
            h5 "Josefina de Alvear Errazuriz"
            h4 Sorolla y Bastida, Joaquín (1863-1923) 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was the owner of the residence. She wears a red velvet dress with fur trim and white lace sleeves , displaying  an up style with a white feather trim.  Her  gestures are elegant and her gestures are calm and rested.

            h3 materials used:
            p Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots          

    div(class="item tile")
      a(class="clearfix", href="#geraldy")
        img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-3.jpeg", alt="")  
      
      div(id="geraldy", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap clearfix") 
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy.jpg", alt="")
            h5 Tatiana Zubov, Portrait
            h4 Geraldy, Marie Thérèse
            p Tatiana Zubov, only daughter of the Count Zubov, was born in Geneva on August 24, 1924, educated in Europe excelled in sports, especially horse riding. She died very young in Uruguay in 1957. The Countess Rosario Larrechea Schiffner of Zubov, in memory of his daughter, made the donation of his art collection to the Museum
            
            h3 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")
      a(class="clearfix", href="#folding") 
        img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")

      div(id="folding", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                         

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen.jpg", alt="")
            h5 'Coromandel' Folding Screen
            h4 Lacquered wood, Kang Hi Period, (1862-1722)
            p The pieces of colored lacquer with incised decoration were made in China for the European market from the seventeenth century. The name derives from the name Coromandel Indian port from which the goods were shipped to Europe.

            h3 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")
      a(class="clearfix", href="#dance")
        img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")  
      
      div(id="dance", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")       
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall.jpg", alt="")                  
            h4 Dance Hall                      
            p This room evokes the years of the French Regency (1705-1713) period of transition from the solemnity of the Baroque and Rococo grace harmonica. The new customs and protocol standards more flexible than those prevailing in the court of Louis XIV, led to the expression of a joy that stressed their preference for light colors, the use of light and reflections, the generosity of the gold to the leaf, the multiple mirror panels and the predominance of curved lines, these resources preventing accurately perceive the boundaries of real space.
           
            h5 materials used:
            p Dithering necklace with beads and tail threading with glass beads.
           
    div(class="intro tile")
      h3 Evita Museum (Buenos Aires, Argentina)
      p Evita, the famous First Lady, wife of President Juan Domingo Perón, is best known by Madonna´s versión of “Don´t Cry for me Argentina”, was and is still loved and adored by many Argentinians.
      p This Museum has a great collection of Evita´s original dresses and gowns, shoes and jewelry.
      p These pieces of mine, sold at the Museum´s shop, are inspired by the front page picture of Evita´s book of Reading for school children “The Reason of my life”.

      a(target="_blank", href="http://www.museoevita.org") visit Evita Museum at museoevita.org
        
    div(class="item tile")
      a(class="clearfix", href="#evita")
        img(src="/images/loader.gif" data-src="/images/evita/evita-10.jpg", alt="")
      div(id="evita", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/evita/evita-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/evita/evita-2.jpg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/evita/evita-1.jpg", alt="")
            h5 Evita´s cover book of “The Reason of my life”.
            h4 Eva Peron
            p Reading for school children
            
            h3 materials used:
            p Earrings with woven flowers with glass beads and gold and silver knots

    div(class="item tile")
      a(class="clearfix", href="#evita3")
        img(src="/images/loader.gif" data-src="/images/evita/evita-9.jpg", alt="")
      div(id="evita3", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            
            img(src="/images/loader.gif" data-src="/images/evita/evita-3.jpg", alt="")
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/evita/evita-6.jpg", alt="")
            h5 Evita´s cover book of “The Reason of my life”.
            h4 Reading for school children
            
            h3 materials used:
            p Brooch with woven flowers with glass beads and gold and silver knots


    div(class="item tile")
      a(class="clearfix", href="#evita4")
        img(src="/images/loader.gif" data-src="/images/evita/evita-7.jpg", alt="")
      div(id="evita4", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")            
            img(src="/images/loader.gif" data-src="/images/evita/evita-4.jpg", alt="")            

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/evita/evita-6.jpg", alt="")
            h5 Evita´s cover book of “The Reason of my life”.
            h4 Reading for school children
            
            h3 materials used:
            p Dithering necklace with woven flowers with glass beads and gold and silver knots

    div(class="item tile")
      a(class="clearfix", href="#evita5")
        img(src="/images/loader.gif" data-src="/images/evita/evita-8.jpg", alt="")
      div(id="evita5", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")            
            img(src="/images/loader.gif" data-src="/images/evita/evita-5.jpg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/evita/evita-6.jpg", alt="")
            h5 Evita´s cover book of “The Reason of my life”.
            h4 Reading for school children
            
            h3 materials used:
            p Dithering necklace with woven flowers with glass beads and gold and silver knots



    div(class="intro tile")
      h3 Historical Museum of San Isidro Quinta Los Ombues: Dr. Horacio Beccar (Buenos Aires, Argentina)
      p These pieces are inspired by a great woman who lived in silent fortitude and who left a huge legate. Justa Cane Varela was the wife of Florencio Varela, one of our ancestors, and the mother of Maria Varela. Maria Varela and her husband Cosme Beccar gave birth to the well known surname Beccar Varela. They were both loved and appreciated for their great social and cultural commitment with the town and its people. 

      a(target="_blank", href="http://www.quintalosombues.com") visit Historical Museum of San Isidro: Dr. Horacio Beccar at www.quintalosombues.com
    
    div(class="item tile")
      a(class="clearfix", href="#sanisidro")
        img(src="/images/loader.gif" data-src="/images/sanisidro/historical-museum-of-san-isidro-1.jpg", alt="")
      div(id="sanisidro", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/sanisidro/historical-museum-of-san-isidro-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/sanisidro/historical-museum-of-san-isidro-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/sanisidro/historical-museum-of-san-isidro-3.jpg", alt="")


          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/sanisidro/historical-museum-of-san-isidro-4.jpg", alt="")
            h5 Mrs. Justa Cané Varela
            h4 Jean Philippe Goulou miniature (1934) Manuel Mujica Lainez Museum (Cordoba)                
            h3 materials used: fresh pearls and cristals

    div(class="empty tile")
    div(class="empty tile")            

    div(class="intro tile")
      h3 Wussmann shop (Buenos Aires, Argentina)
      p For my designs for the museums I chose interesting women, who have in common courage and a great personality, such as Evita Perón.  I find it super exciting to make a research of the historical moment and of the life of the character I choose.  I try to capture and interpret her inner essence, her feelings, her passions and ideals and show them in my designs, like a painter in a portrait.  For these designs I use quite a variety of materials, some of them non conventional like cotton yarn.

      a(target="_blank", href="http://www.wussmann.com") visit Wussmann shop at wussmann.com
        
    div(class="item tile")
      a(class="clearfix", href="#marlene")
        img(src="/images/loader.gif" data-src="/images/women/marlene-3.jpg", alt="")
      div(id="marlene", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/women/marlene-1.jpg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/women/marlene-2.jpg", alt="")
            h5 "Marlene" Dietrich, Blonde venus
            p German-born American actress and singer.
            
            h3 materials used:
            p Dithering necklace with woven spheres with glass beads and white, gold and silver threads knots

    div(class="item tile")
      a(class="clearfix", href="#pina")
        img(src="/images/loader.gif" data-src="/images/women/pina-3.jpg", alt="")
      div(id="pina", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap clearfix") 
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/women/pina-1.jpg", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/women/pina-2.jpg", alt="")
            h5 Pina Baush (1940 – 2009) 
            p German performer of modern dance, choreographer, dance teacher and ballet director
            
            h3 materials used:
            p Dithering necklace with woven flowers with glass beads and cotton with silk threads knot

    div(class="item tile")
      a(class="clearfix", href="#sissie") 
        img(src="/images/loader.gif" data-src="/images/women/sissie-3.jpg", alt="")
      div(id="sissie", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/women/sissie-1.jpg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/women/sissie-2.jpg", alt="")
            h5 Elisabeth of Austria, Sissi (1837 – 1898)
            p Empress of Austria and Queen of Hungary, as wife of Franz Joseph I

            h3 materials used:
            p Tail threading necklace with glass beads and fresh pearls, woven flower with fresh pearls and white and silver thread knots.

    div(class="item tile")
      a(class="clearfix", href="#valkyrie")
        img(src="/images/loader.gif" data-src="/images/women/valkyrie-3.jpg", alt="")
      div(id="valkyrie", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/women/valkyrie-1.jpg", alt="")
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/women/valkyrie-2.jpg", alt="")
            h5 Edward Robert Hughes, The Valkyrie's vigil
            P In Norse mythology, a valkyrie (from Old Norsevalkyrja "chooser of the slain") is one of a host of female figures who decide which soldiers die in battle and which live. 
           
            h5 materials used:
            p Tail threading necklace  with glass beads and fresh pearls, and gold cordon
 

    div(id="collection", class="intro tile main")          
      h3 New collection
      p I create a new collection entitled "Indian Mirrors", a "Reflection of your Soul". 
      p It is inspired by the ancient Indian concept for the wisdom obtained when we look inward and learn from being with oneself. 
      p selected pieces are availble for sale, please use <a href="#contact">contact form</a>

    div(class="item tile")      
      a(class="clearfix", href="#Tara-Star")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Tara-Star-2.jpg", alt="")
      div(id="Tara-Star", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Tara-Star.jpg", alt="")

          div(class="popupRight")
            h4 Tara "Star"
            p Necklace with vintage crystals and black crystals  woven sphere. Two options to wear, front and back.

    div(class="item tile")      
      a(class="clearfix", href="#Anila-Wind")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Anila-Wind-3.jpg", alt="")

      div(id="Anila-Wind", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Anila-Wind-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Anila-Wind.jpg", alt="")
            
          div(class="popupRight")
            h4 Anila "Wind"
            p Independent threading with black fresh pearls, vintage crystals and baby fresh pearls woven sphere. Three options to wear, front,back and as a bracelet.

    div(class="item tile")      
      a(class="clearfix", href="#Akanksha-Wish")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Akanksha-Wish-3.jpg", alt="")
          
      div(id="Akanksha-Wish", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Akanksha-Wish-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Akanksha-Wish.jpg", alt="")
                
          div(class="popupRight")
            h4 Akanksha "Wish"
            p Necklace with fresh pearls, vintage crystals and baby fresh pearls woven sphere.

    div(class="item tile")      
      a(class="clearfix", href="#ananda")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Ananda-Happiness-2.jpg", alt="")

    div(id="ananda", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Ananda-Happiness-1.jpg", alt="")
                
          div(class="popupRight")
            h4 Ananda "Happiness"
            p Tie necklace with small crystals, baby pearls, fresh pearls, vintage crystals and baby fresh pearls woven sphere. Two options to wear, front and back.


    div(class="item tile")
      a(class="clearfix", href="#abha")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Abha-Light-3.jpg", alt="")
      div(id="abha", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Abha-Light.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Abha-Light-2.jpg", alt="")            
          div(class="popupRight")
            h4 Abha "Light"
            p  Necklace with fresh pearls, vintage crystals and  black crystals woven sphere two options to wear, long and short.

    div(class="item tile")      
      a(class="clearfix", href="#Asha-Hope")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Asha-Hope-2.jpg", alt="")
      div(id="Asha-Hope", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Asha-Hope-1.jpg", alt="")
            
          div(class="popupRight")
            h4 Asha "Hope"
            p Necklace with fresh pearls, vintage crystals and baby fresh pearls woven sphere.

    div(class="item tile")      
      a(class="clearfix", href="#Indira-Beauty")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indira-Beauty-2.jpg", alt="")
      div(id="Indira-Beauty", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indira-Beauty.jpg", alt="")
            
          div(class="popupRight")
            h4 Indira"Beauty"
            p Necklace with baby fresh pearls ,vintage crystals and black crystals woven sphere. Two options desing to wear.

    div(class="item tile")      
      a(class="clearfix", href="#Indu-Bright-drop")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indu-Bright-drop-4.jpg", alt="")
      div(id="Indu-Bright-drop", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indu-Bright-drop-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indu-Bright-drop-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Indu-Bright-drop-3.jpg", alt="")

          div(class="popupRight")
            h4 Indu" Bright drop"
            p Little brooch with vintage crystals and woven sphere. Different options desing to wear.

    div(class="item tile")      
      a(class="clearfix", href="#Kailash")
        img(src="/images/loader.gif" data-src="/images/indian-mirrors/Kailash-Crystal-2.jpg", alt="")
      div(id="Kailash", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/indian-mirrors/Kailash-Crystal.jpg", alt="")

          div(class="popupRight")
            h4 Kailash "Crystal"
            p Necklace with vintage crystals and baby fresh pearls woven sphere. Two options desing to wear.

    div(id="materials", class="intro tile main")
      h3 Materials
      p I have always been attracted to beautiful hand made pieces .
      p My passion for necklaces started by chance. When I began to create pieces and connect with the materials, I realized and understood the value of “creating” a new piece in connection with the person that would eventually wear it.
      p With my creations, I’m looking forward to awake the senses and generate a feeling of pleasure when wearing a piece.
      p My designs are mainly based on handy made forms creating ethereal sensations of movements through different textures and colours given by the materials I use (semiprecious stones, river pearls, mother of the pearls, passamanerie and organdy laces, and recycled antique jewelry.)
      p I have a passion for finding new materials and creating designs with them.
      p I´ve investigated and experimented with different materials, from buttons (galatit paste) to happy birthday balloons. I´ve arrived to the conclusion that I consider it important to appreciate our own natural resources and, on the other hand, create an environmental conscience besides thinking in their future sustenance.
        
    div(class="item tile")
      a(class="clearfix", href="#balloons")
        img(src="/images/loader.gif" data-src="/images/materials/ballons-5.jpg", alt="")
      div(id="balloons", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/materials/ballons-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/ballons-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/ballons-3.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/ballons-4.jpg", alt="")

          div(class="popupRight")
            h4 Happy balloons

    div(class="item tile")      
      a(class="clearfix", href="#organza")
        img(src="/images/loader.gif" data-src="/images/materials/organza-9.jpg", alt="")
      div(id="organza", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/materials/organza-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/organza-3.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/organza-7.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/organza-8.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/organza-9.jpg", alt="")

          div(class="popupRight")
            h4 Organza
            
    div(class="item tile")      
      a(class="clearfix", href="#buttons")
        img(src="/images/loader.gif" data-src="/images/materials/buttons-5.jpg", alt="")
      div(id="buttons", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/materials/buttons-5.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/buttons-3.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/buttons-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/buttons-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/buttons-4.jpg", alt="")

          div(class="popupRight")
            h4 Buttons

    div(class="item tile")      
      a(class="clearfix", href="#north-arg")
        img(src="/images/loader.gif" data-src="/images/materials/north-argentina-3.jpg", alt="")
      div(id="north-arg", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/materials/north-argentina-3.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/north-argentina-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/materials/north-argentina-1.jpg", alt="")

          div(class="popupRight")
            h4 North Argentina
            p I made a coleccion with natural materials of northern Argentina.The designs are woven with llama wool and chaguar(dyed with natural products)
            p The Chaguar is a food and textile plant that has been traditionally used by Wichí, indigenous hunter-gatherer communities of the Argentine Chaco. The plant is collected by Wichi women in the bush. On the way back to their community get hit with stones until the fleshy part chaguar sheet, leaving only the fibersare dried in the sun, and then dyed with ash, soot, resin carob, and seeds and bark of trees area. When the dyed fiber is dry, the women sitting on the floor the spin on his thighs.

    div(class="empty tile")

    div(class="empty tile")

    div(id="workshops", class="intro tile main")
      h3 Workshops
      p The workshops started because I liked the idea of accompanying people whether adults or children to discover their own creativity. It was something that was born from my own experience of creativity. I think it's wonderful what everyone can create, recycle or design if they discover their inner world. That is the intention of my workshops beyond the knowledge and techniques that I can teach them.
      p I love working with children because they are very sweet and they enjoy a lot and are surprised when they discover and create. They are happy when they see that they can assemble pieces like necklaces and later take them to their homes with them. It's nice and very funny. The idea of the workshop is to teach girls accessories for a super fun way to create and build their own accessories and bijou according to their age.
      p Teaching the techniques of reusing and redesigning your old jewellery, that perhaps you may have inherited. (adults)
      p Teaching accessories for little girls.

    div(class="item tile empty")      
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-1.jpg", alt="")
    div(class="item tile empty")      
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-2.jpg", alt="")
    div(class="item tile empty")                  
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-3.jpg", alt="")
    div(class="item tile empty")                  
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-4.jpg", alt="")
    div(class="item tile empty")                  
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-5.jpg", alt="")
    div(class="item tile empty")                  
      img(src="/images/loader.gif" data-src="/images/workshop/workshop-6.jpg", alt="")



    div(id="press", class="intro tile short main")
      h3 Press

    div(class="item tile")      
      a(class="clearfix", href="#noticias")
        img(src="/images/loader.gif" data-src="/images/press/noticias1.jpg", alt="")
      div(id="noticias", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/noticias1.jpg", alt="")

          div(class="popupRight")
            h4 Celedonio Lohidoy
            p Magazine 'Noticias' 2006
            p Press release to "Celedonio Lohidoy" along with his staff in his studio in Buenos Aires, Argentina.
            p Florencia Mayer, Assistant design of Celedonio Lohidoy
            a(href="http://noticias.perfil.com/", target="_blank") noticias.perfil.com
            


    
    div(class="item tile")      
      a(class="clearfix", href="#novias")
        img(src="/images/loader.gif" data-src="/images/press/novias-tv-2.jpg", alt="")
      div(id="novias", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            
            img(src="/images/loader.gif" data-src="/images/press/novias-tv-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/press/novias-tv-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/press/novias-tv-3.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/press/novias-tv-4.jpg", alt="")

          div(class="popupRight")            
            h4 Interview Brides TV
            p Lezica Films - 2009
            p Location: " Metropolitan Museum of Buenos Aires" - Argentina
            a(target="_blank", href="http://www.lezicafilms.com.ar", target="_blank") lezicafilms.com.ar

    div(class="item tile")      
      a(class="clearfix", href="#caras")
        img(src="/images/loader.gif" data-src="/images/press/caras-1.jpg", alt="")
      div(id="caras", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/caras-1.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/press/caras-2.jpg", alt="")
            img(src="/images/loader.gif" data-src="/images/press/caras-3.jpg", alt="")

          div(class="popupRight")
            h4 Wedding Headpieces
            p Magazine Caras - 2010
            p Wedding Urbano Rattazzi , son of Cristiano Rattazzi (President of Fiat in Argentina)
            p Punta del Este 2010
            a(target="_blank", href="http://www.revista-caras.com.ar/", target="_blank") revista-caras.com.ar
    
    div(class="item tile")      
      a(class="clearfix", href="#tigris")
        img(src="/images/loader.gif" data-src="/images/press/tigris.jpg", alt="")
      div(id="tigris", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          

            img(src="/images/loader.gif" data-src="/images/press/tigris.jpg", alt="")
          
          div(class="popupRight")
            h4 Argentine Design to Madrid
            p Magazine Tigris - 2011
            a(target="_blank", href="http://www.revistatigris.com.ar/", target="_blank") revistatigris.com.ar

    div(class="item tile")      
      a(class="clearfix", href="#oh-lala")
        img(src="/images/loader.gif" data-src="/images/press/oh-lala.jpg", alt="")
      div(id="oh-lala", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/oh-lala.jpg", alt="")

          div(class="popupRight")
            h4 Know Ideame
            p Magazine OHLALA - 2011
            p " When I started thinking about the idea of ​​an investigation in the North in search of autoctonoes materials Ideame appeared . The only downside is that people understand the concept in a short time"
            a(target="_blank", href="http://www.revistaohlala.com/", target="_blank") revistaohlala.com

    div(class="item tile")      
      a(class="clearfix", href="#clarin")
        img(src="/images/loader.gif" data-src="/images/press/clarin.jpg", alt="")
      div(id="clarin", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/clarin.jpg", alt="")

          div(class="popupRight")
            h4 Shopping in museums.
            p Newspaper Clarin - 2011
            p "In addition , a line of necklaces , bracelets and rings Flora Mayer , who also sell on the THYSSEN museum in MADRID , whose creative process consists in make a Jewellery design from an exhibit at the museum
            a(target="_blank", href="http://www.clarin.com/mujer/Shopping-museos_0_539346115.html", target="_blank") see online version
            
    div(class="item tile")      
      a(class="clearfix", href="#cronista")
        img(src="/images/loader.gif" data-src="/images/press/cronista.jpg", alt="")
      div(id="cronista", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/cronista.jpg", alt="")

      div(class="popupRight")
            h4 A new way to invest
            p Newspaper El Cronista - 2012
            p In 2008 , Florencia Mayer created Cenizas Azules, a brand of jewelry and accessories that today is sells in museums such as the Thyssen Bornemisza (Madrid) and the National Museum of Decorative Arts (Buenos Aires). This year, thanks to the collective financing raised $ 10,000 for launch a line of contemporary jewelry , called " National Beauty " . 
            p Specifically , she used the funds to travel to northwestern Argentina , where she designs and tests the testing materials. In this case, the crowdfunding served to develop a new project in an existing company.
            p In addition to the supply of money , the collective funding enabled the entrepreneurial "know people and more people know what I do and set an objective and stick it on time " highlights the designer
            a(target="_blank", href="http://www.cronista.com/pyme/Una-forma-de-inversion-quepermite-testear-las-ideas-20121011-0028.html", target="_blank") see online version

    div(class="item tile")      
      a(class="clearfix", href="#la-nacion")
        img(src="/images/loader.gif" data-src="/images/press/la-nacion.jpg", alt="")
      div(id="la-nacion", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap clearfix") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/press/la-nacion.jpg", alt="")

          div(class="popupRight")
            h4 Crowdfunding
            p Newspaper La Nacion - 2013
            p I chose this method of financing because it is a quick way to get investment and found it interesting to participate in an innovative venture in Argentina . I also served for more people know me , " Flora Mayer slides , jewelry designer thanks to upload your project to the Web managed to expand its business. Mayer sold his pieces in the shops of Buenos Aires from Evita and Thyssen Bornemisza museums Madrid and plans to soon travel to New York to begin selling their products at the prestigious Metropolitan Museum (MET )
            a(href="http://http://www.lanacion.com.ar/1566998-una-modalidad-en-franco-crecimiento", target="_blank") see online version

    div(id="cv", class="intro tile main short")
      h3 cv 
    
    div(id="cvText", class="intro tile")
      p I started my search as a child by singing with my musical brothers but I gave it up for dancing
      p I tried different rhythms, first, tap-dance, then Spanish Flamenco, tango for a while and now I rejoice myself in the study of classical dancing
      p I was always fascinated by the customs and to play and recreate different situations
      p I began to study the career of fashion design and I designed and made clothes with crotchet neweedles
      p Soon I found myself working on my own,and participating in a contest for new designers called “ If I were Dali” at the Centro Cultural Borges
      p I also worked at a jewellery shop called Minima
      p And at last I met “for the second time” the great artist Celedonio Lohidoy. Celedonio is one of the best designers of Argentina and he selected me to join his team
      p With him I Learned to treat the pieces as truly works of art, attaching real importance to the finishing touches of each on of them
      p I decided to continue my path on my own and to start my company.
      p So I find myself developing my own artistic jewellery in which I try to exalt different sensations through different materials
      p Then I realized that knowing the designing techniques was not enough and that I should complete my training with a base of artistic knowledge
      p So I studied History of the Arts in the National Museum of Buenos Aires and afterwards I took lessons on plastic arts (specifically the study of the colour) at the atelier of the plastic artist Maika
      p I expanded my business to Europe.  I made an exhibition at a Gallery in Madrid. Also i sell my pieces at the Thyssen-Bornemisza Museum (Madrid). 
      p I studied coture millenary handmade hats classes (Madrid)
      p In Buenos Aires i sell at the National Museum of Decorative Art, Wussmann shop, Evita Museum and the Historical Museum of San Isidro: Dr. Horacio Beccar.
      p My last collection was made in New York and is called “Indian Mirrors”

    
    div(id="contact", class="intro tile main")
      h3 Contact
      
      form(action="http://florenciamayer.us3.list-manage.com/subscribe/post?u=504c2700cc037f0c53a388680&amp;id=ea7b92579b", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)  
        div(class="formGroup")
          label(for="mce-EMAIL") Email Address      
          input(type="email", value="", name="EMAIL", class="required email", id="mce-EMAIL")
        
        div(class="formGroup")
          label(for="mce-FNAME") First Name
          input(type="text", value="", name="FNAME", class="", id="mce-FNAME")
        
        div(class="formGroup")
          label(for="mce-LNAME") Last Name
          input(type="text" value="" name="LNAME", class="", id="mce-LNAME")
        
        div(class="formGroup")
          label(for="mce-BODY") Message      
          textarea(type="text", value="", name="BODY" class="required" id="mce-BODY")

        div(id="mce-responses", class="clear")
          div(class="response", id="mce-error-response", style="display:none")
          div(class="response", id="mce-success-response", style="display:none")

        div(class="clear")
          input(type="submit", value="Contact", name="subscribe", id="mc-embedded-subscribe", class="button")

      img(src="/images/contact.jpg")

