extends layout

block content  
  div(class="navbar")    
    ul
      li(class="")
        a(href="#bio") bio
      li(class="")
        a(href="#museums") museums
      li(class="")
        a(href="#collection") new collection
      li(class="")
        a(href="#materials") materials
      li(class="")
        a(href="#workshops") workshops
      li(class="")
        a(href="#press") press
      li(class="")
        a(href="#cv") cv
      li(class="")
        a(href="#contact") contact
  
  article(class="clearfix")
    div(id="hero", class="section hero active") 
      img(src="images/logolarge.png")    

    div(id="bio", class="section")
      h1 Biography    
      p Born in Buenos Aires, Argentina, Florencia Mayer is a fashion jewelry designer specializing in artisanal techniques. She combines a unique ten year experience with a wide range of materials such as fresh pearls, recycled vintage pieces, rubber, and natural wools with an acute artistic taste. This ability allows her to create pieces that are more than just jewelry but are representations of the artist’s mind. Her pursuit for the arts, have it be dancing flamenco and ballet or creating jewelry. She likes to innovate and try different materials, such us buttons, balloons. During her career Florencia created elegant collections for specialty shops and Museums in Argentina and Spain often inspired by historical and romantic imagery so vibrant in her culture. She made some gallery expositions both in Buenos Aires as in Madrid.

          

    div(id="museums", class="section")
      h1 Museums
      p I´m selling my pieces at the shops of various museums: at the Thyssen Bornemisza Museum of Madrid , in Buenos Aires at The National Museum of Decorative Arts, at the Historical Museum of San Isidro and at the Evita´s Museum.
      p My designs were inspired on pictures belonging to their own Collections.

    
 
    div(class="intro tile")
      h3 National Museum of Decorative Art (Buenos Aires)
      p The National Museum of Decorative Art, founded in 1937, was originally the residence of the family formed by Josefina de Alvear and her husband Matias Errazuriz Ortúzar.
      p The Alvears, based in Argentina, had an outstanding performance in the political and social development from the late eighteenth century.
      p The Matrimony marriage, interested in art and antiques took years while living in Europe to gain a valuable Eastern European art collection which mostly comprise today, the heritage of the National Museum of Decorative Art.
      a(href="www.mnad.org") visit The National Museum of Decorative Art at mnad.org
        
    div(class="item tile")      
      a(class="clearfix", href="#josefina")
        img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
      div(id="josefina", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-3.jpeg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina.jpg", alt="")
            h5 Sorolla y Bastida, Joaquín (1863-1923)
            h4 "Josefina de Alvear Errazuriz" 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was the owner of the residence. She wears a red velvet dress with fur trim and white lace sleeves , displaying  an up style with a white feather trim.  Her  gestures are elegant and her gestures are calm and rested.

            h4 materials used:
            p Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots          

    div(class="item tile")      
      a(class="clearfix", href="#geraldy")
        img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")  
      
      div(id="geraldy", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap") 
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy.jpg", alt="")
            h5 Tatiana Zubov, Portrait
            h4 Geraldy, Marie Thérèse
            p Tatiana Zubov, only daughter of the Count Zubov, was born in Geneva on August 24, 1924, educated in Europe excelled in sports, especially horse riding. She died very young in Uruguay in 1957. The Countess Rosario Larrechea Schiffner of Zubov, in memory of his daughter, made the donation of his art collection to the Museum
            
            h4 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#folding") 
        img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")

      div(id="folding", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                         

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen.jpg", alt="")
            h5 Lacquered wood, Kang Hi Period, (1862-1722)
            h4 'Coromandel' Folding Screen
            p The pieces of colored lacquer with incised decoration were made in China for the European market from the seventeenth century. The name derives from the name Coromandel Indian port from which the goods were shipped to Europe.

            h4 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#dance")
        img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")  
      
      div(id="dance", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-3.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-4.jpeg", alt="")      
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall.jpg", alt="")                  
            h4 Dance Hall                      
            p This room evokes the years of the French Regency (1705-1713) period of transition from the solemnity of the Baroque and Rococo grace harmonica. The new customs and protocol standards more flexible than those prevailing in the court of Louis XIV, led to the expression of a joy that stressed their preference for light colors, the use of light and reflections, the generosity of the gold to the leaf, the multiple mirror panels and the predominance of curved lines, these resources preventing accurately perceive the boundaries of real space.
           
            h5 materials used:
            p Dithering necklace with beads and tail threading with glass beads.

    div(class="intro tile")
      h3 Thyssen-Bornemisza Museum (Madrid)
      p With over 1,600 paintings the Thyssen-Bornemisza collection was once the second largest private collection in the world after the British Royal Collection.[1] A competition was held to house the museum in 1986 after Baron Thyssen, having tried to enlarge his Museum in Villa Favorita, searched for a location in Europe.
      p The collection started in the 1920s as a private collection by Heinrich, Baron Thyssen-Bornemisza de Kászon. In a reversal of the movement of European paintings to the United States during this period, one of the elder Baron's sources was the collections of American millionaires coping with the Great Depression and inheritance taxes, from which he acquired such exquisite old master paintings asGhirlandaio's portrait of Giovanna Tornabuoni (once in the Morgan Library) and Carpaccio's Knight (from the collection of Otto Kahn).[1] The collection was later expanded by Heinrich's son Baron Hans Heinrich Thyssen-Bornemisza (1921–2002),[2] who assembled most of the works from his relatives' collections and proceeded to acquire large numbers of new works to produce what is one of the world's finest private art collections.

      a(href="www.museothyssen.org") visit The Thyssen-Bornemisza Museum at museothyssen.org
        
    div(class="item tile")      
      a(class="clearfix", href="#josefina")
        img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
      div(id="josefina", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap") 
          div(class="popupLeft")          
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-1.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina-3.jpeg", alt="")

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/josefina/josefina.jpg", alt="")
            h5 Sorolla y Bastida, Joaquín (1863-1923)
            h4 "Josefina de Alvear Errazuriz" 
            p Oil on canvas. Alto 2 m width 1.20 m
            p Signed and dated on the right "J. Sorolla y Bastida, 1905 "
            p Full length portrait of Dona Josefina de Alvear, who was the owner of the residence. She wears a red velvet dress with fur trim and white lace sleeves , displaying  an up style with a white feather trim.  Her  gestures are elegant and her gestures are calm and rested.

            h4 materials used:
            p Tail threading necklace with glass beads  woven flowers with fresh pearls and  ribbons and gold organza knots          

    div(class="item tile")      
      a(class="clearfix", href="#geraldy")
        img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")  
      
      div(id="geraldy", class="popUp", style="display:none;")
        button(class="closeTile") X
        
        div(class="popupWrap") 
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-3.jpeg", alt="")                
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy-1.jpeg", alt="")
        

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/geraldy/geraldy.jpg", alt="")
            h5 Tatiana Zubov, Portrait
            h4 Geraldy, Marie Thérèse
            p Tatiana Zubov, only daughter of the Count Zubov, was born in Geneva on August 24, 1924, educated in Europe excelled in sports, especially horse riding. She died very young in Uruguay in 1957. The Countess Rosario Larrechea Schiffner of Zubov, in memory of his daughter, made the donation of his art collection to the Museum
            
            h4 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#folding") 
        img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")

      div(id="folding", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")     
          div(class="popupLeft")     
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-2.jpeg", alt="")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen-1.jpeg", alt="")                                         

          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/folding-screen/folding-screen.jpg", alt="")
            h5 Lacquered wood, Kang Hi Period, (1862-1722)
            h4 'Coromandel' Folding Screen
            p The pieces of colored lacquer with incised decoration were made in China for the European market from the seventeenth century. The name derives from the name Coromandel Indian port from which the goods were shipped to Europe.

            h4 materials used:
            p Tail threading necklace with glass beads and woven stone flowers with knots organza ribbon knots

    div(class="item tile")      
      a(class="clearfix", href="#dance")
        img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")  
      
      div(id="dance", class="popUp", style="display:none;")
        button(class="closeTile") X
        div(class="popupWrap")
          div(class="popupLeft")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-1.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-2.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-3.jpeg", alt="")      
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall-4.jpeg", alt="")      
            
          div(class="popupRight")
            img(src="/images/loader.gif" data-src="/images/arte/dance-hall/dance-hall.jpg", alt="")                  
            h4 Dance Hall                      
            p This room evokes the years of the French Regency (1705-1713) period of transition from the solemnity of the Baroque and Rococo grace harmonica. The new customs and protocol standards more flexible than those prevailing in the court of Louis XIV, led to the expression of a joy that stressed their preference for light colors, the use of light and reflections, the generosity of the gold to the leaf, the multiple mirror panels and the predominance of curved lines, these resources preventing accurately perceive the boundaries of real space.
           
            h5 materials used:
            p Dithering necklace with beads and tail threading with glass beads.