doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=League+Script', rel='stylesheet', type='text/css')
		

	body
		block content

	script(type="text/javascript", src="javascripts/libs.js")
	script(type="text/javascript", src="javascripts/bootstrap.min.js")
	script(type="text/javascript", src="javascripts/app.js")