/* @override http://localhost:5000/stylesheets/style.css */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



@font-face {
		font-family: 'Modern-Regular', 'Georgia', serif;
		src: url('../fonts/modernno20.eot');
		src: url('../fonts/modernno20.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/modernno20.woff') format('woff'),
				 url('../fonts/modernno20.ttf') format('truetype'),
				 url('../fonts/modernno20.svg#modernno20') format('svg');
		font-weight: normal;
		font-style: normal;
}


p, a{
	font-family: "Georgia", serif;
	color: #9a8d79;	
}

h1, h2,h3,h4,h5, blockquote{
	font-family: 'Modern-Regular';
	color: #9a8d79;		
}
.navbar{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 180px;
	z-index: 3;
	background: white;	
	border-right: 1px solid #efefef;
}
.navbar ul{
	margin-left: 20px;
	margin-top: 40px;
}
.navbar ul li{
	margin-top: 10px;
}


.navbar a{
	text-decoration: none;
}

.navbar a:hover{
	text-decoration: underline;
}

article{
	margin-left: 180px;	
}

body.noScroll{
	overflow: hidden !important;
}

article > div{
	width: 98%;
	margin: 0 auto;
} 

article .section{
	border-bottom: 1px solid #efefef;
	margin-bottom: 20px;
	opacity: .4;
	float: left;
	margin-left: 1%;
	padding-top: 20px;
}

article .section.active{
	opacity: 1;
}

#bio.section div{
	width: 60%;
	float: left;
}

#bio.section p{
	margin-bottom: 10px;
}
	


#bio.section img{
	width: 39%;
	float: left;
	clear: right;
	margin-left: 1%;
}


.hero{
	text-align: center;
	background: #f4ddbe; /* Old browsers */
background: -moz-linear-gradient(top, #f4ddbe 0%, #f7d8c6 40%, #f0cdb7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ddbe), color-stop(40%,#f7d8c6), color-stop(100%,#f0cdb7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* IE10+ */
background: linear-gradient(to bottom, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ddbe', endColorstr='#f0cdb7',GradientType=0 ); /* IE6-9 */
margin: 0px !important;
width: 100%;
}

#hero h1{
	font-family: 'League Script';
	font-size: 60px;
	font-weight: 100;
	margin-top: 20%;
	color: #333;
}

@media (max-width: 460px) {
	#hero h1{		
		margin-top: 50%;
	}
}

@media (max-width: 768px) {
	#hero h1{		
		margin-top: 40%;
	}
}


.section h1{
	font-size: 30px;	
	margin-bottom: 15px;
}


.section p{
	font-size: 20px;	
	line-height: 25px;
}


@media (max-width: 768px) {
	.section > *{
		padding-left: 20px;		
		padding-right: 20px;				
	}
}



.tile{
	width: 28%;
	margin: 10px;
	padding: 15px;
	border: 1px solid #efefef;
	display: inline;
	float: left;
	min-height: 269px;
	max-height: 269px;
	overflow: hidden;
	position: relative;
}

.item.tile > a button{
	position: absolute;	
	top: 30%;
	opacity: 0;	
	left: 0px;
	border: none;
	background: rgba(255,255,255,.6);
	width: 100%;
	line-height: 100px;
	color: #333;
	font-family: Georgia, serif;
}

.item.tile > a:hover button{
	opacity: 1;
}

.item.tile > a button:hover{
	cursor: pointer;
}


.intro.tile{
	width: 93.5%;
	max-height: 450px;
}

.intro.tile.main{
	background-color: #fbf9f7;
	border: 1px solid #cec7be;	
}

.intro.tile.main:hover{
	border: 1px solid #cec7be;	
}

.intro.tile.short{
	min-height: 50px !important;
	max-height: 50px !important;
}

.tile.viewMore{
	min-height: 20px !important;
	max-height: 20px !important;
	width: 93.5%;
	border: none;	
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;

}

.tile.viewMore h3{	
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 20px;
}

.tile.viewMore:hover{
	min-height: 20px !important;
	max-height: 20px !important;
	width: 93.5%;
	border: none;	
	cursor: auto;
}

.intro.tile p{
	margin-bottom: 10px;
}


.tile.empty{
	border: 1px solid #ffffff;	
}


.tile:hover{
	border: 1px solid #9a8d79;
	cursor: pointer;
}
.tile.empty:hover{
	border: 1px solid #ffffff;
	cursor: auto;	
}

.tile.intro{
	border: 1px solid #efefef;
	cursor: pointer;
}
.tile.intro:hover{
	border: 1px solid #efefef;
	cursor: auto;	
}


.tile > a{
	float: left;
	position: absolute;
	height: 100%;
	margin: -10px;
}

.tile.intro > a{
	float: none;
	position: relative;
	height: auto;
	margin: 0px;
}



.tile > a img{
	width: 100%;
}

.tile > img{
	width: 100%;
}




.intro.tile h3{
	font-size: 30px;	
	margin-bottom: 15px;

}

.intro.tile p{
	font-size: 20px;	
	line-height: 25px;

}

.popUp{
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 0px;
	background-color: rgba(239,239,239,1);
	overflow-y: scroll;	
}

.popupWrap{
	margin: 0 auto;
	width: 70%;	
	padding-bottom: 20px;
	
}

.popupLeft{
	width: 70%;
	float: left;
	margin-top: 20px;
}

.popupLeft img{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.popupLeft img:last-child{
	margin-bottom: 40px;
}
.popupLeft button{
	height: 100px;
	border: none;
	background: none;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	text-indent: 999999em;
	overflow: hidden;
	background: url(../images/arrow.png) center center no-repeat;
}

.popupLeft button:focus, .popupLeft button:active{
	outline:none;
	border: none;
	
}

.popupLeft button:last-child{
	opacity: 0;	
	height: 60px;
}


.popupRight{
	width: 30%;	
	float: left;
	margin-top: 20px;
}

.popupRight img{
	width: 100%;
}

.popupRight h5{
	font-size: 16px;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 7px;
	text-align: right;
}


.popupRight h3{
	font-size: 20px;	
	margin-top: 15px;
	margin-bottom: 5px;
}

.popupRight h4{
	font-size: 30px;	
	margin-bottom: 15px;
}


.popupRight p{
	font-size: 16px;	
	line-height: 20px;
	margin-bottom: 10px;
}

button.closeTile{
	border: none;
	background: none;
	position: fixed;
	left: 5%;
	top: 20px;
	font-size: 40px;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;
	opacity: .4;
}

button.closeTile:hover{
	cursor: pointer;
	opacity: 1;
}

#cvText{
	min-height: 900px;
	max-height: 900px;
	
}

#contact{
	margin-bottom: 40px;
		background: #f4ddbe; /* Old browsers */
background: -moz-linear-gradient(top, #f4ddbe 0%, #f7d8c6 40%, #f0cdb7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ddbe), color-stop(40%,#f7d8c6), color-stop(100%,#f0cdb7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* IE10+ */
background: linear-gradient(to bottom, #f4ddbe 0%,#f7d8c6 40%,#f0cdb7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ddbe', endColorstr='#f0cdb7',GradientType=0 ); /* IE6-9 */
border: none;
width: 100%;
margin: 0px;
}

#contact form{
	float: left;
	width: 60%;
}


#contact .formGroup{
	float: left;
	width: 100%;
}

#contact img{
	float: right;
	width: 28%;	
	margin-right: 2%;
}

#contact label{
	color: #9a8d79;	
	font-size: 16px;
	width: 100px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#contact input{
	color: #9a8d79;	
	font-size: 14px;
	width: 100px;
	display: block;
	float: left;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: Georgia, serif;
	background: none;
	border: 1px solid #9a8d79;
	
}

#contact input.button{
	color: #9a8d79;
	width: 100px;
	display: block;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	background: none;
	border: 1px solid #9a8d79;
	font: 16px/20px Georgia, serif;
	margin-left: 110px;
}

#contact input.button:hover{
	color: #6c6254;
	border: 1px solid #6c6254;
	cursor: pointer;
}

#contact textarea{
	color: #9a8d79;	
	font-size: 14px;
	width: 200px;
	height: 130px;
	display: block;
	float: left;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: Georgia, serif;
	background: none;
	border: 1px solid #9a8d79;
}

