/* @override http://localhost:5000/stylesheets/style.css */

@font-face {
		font-family: 'Modern-Regular', 'Georgia', serif;
		src: url('../fonts/modernno20.eot');
		src: url('../fonts/modernno20.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/modernno20.woff') format('woff'),
				 url('../fonts/modernno20.ttf') format('truetype'),
				 url('../fonts/modernno20.svg#modernno20') format('svg');
		font-weight: normal;
		font-style: normal;
}


body {
	min-height: 2000px;
	padding-top: 53px;
}

p, a{
	font-family: "Georgia", serif;
	color: #9a8d79;	
}

h1, h2,h3,h4,h5{
	font-family: 'Modern-Regular';
	color: #9a8d79;		
}

.container{
	padding-right:5px;
	padding-left:5px;
	margin-right:auto;
	margin-left:auto;
}

.hero {
	width: 100%;
	height: 600px;	  	
  	font-size: 100px; 
  	overflow: hidden;
  	word-wrap: break-word;
	text-align: center;
	position: relative;
}


.hero img{
	text-align: center;
	margin-top: 200px;
	width: 60%;
}


.navbar-brand{
	text-indent: 9999em;
	width: 200px;
	overflow: hidden;
	background: url(../images/logolarge.png) no-repeat center;
	background-size: 155px auto;
	padding: 0px;
	display: block;
	line-height: 50px;	
}

ul.nav.navbar-nav li a{
	color: #9a8d79;
	border-bottom: 1px solid rgba(0,0,0,0);
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li.active a{
	color: #766d5e;
	border-bottom: 1px solid #9a8d79;
}




.meat {
	width: 100%;
	min-height: 300px;
	float: left;
}



.meat > *{
	width: 60%;
	margin: 0 20%;
}

.meat p{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 30px;
	font-size: 20px;
	
}

.meat h1{
	text-align: left;
	border-bottom: 1px solid #9a8d79;
	padding-bottom: 0px;
	line-height: 19px;
	font-size: 37px;
	letter-spacing: 1px;
	width: 100%;
	margin: 0px;
	margin-top: 100px;
	margin-bottom: 20px;
	text-indent: 20%;
	
}

@media (max-width: 768px) {
	.navbar-brand{
		width: 100%;
		position: absolute;
		padding: 0px;
		z-index: -1;
	}

	.meat > *{
		width: 90%;
		margin: 0 5%;
	}

	.hero img{
		text-align: center;
		margin-top: 200px;
		width: 90%;
	}

	.hero small{
		font-size: 20px;
		letter-spacing: 1px;
		margin-left: 0px;
		display: block;
		text-align: center;
		margin-bottom: -80px;
		margin-top: 20px;
	}
}