/* @override http://localhost:5000/stylesheets/style.css */

body {
	min-height: 2000px;
	padding-top: 53px;
}

.hero {
	width: 100%;

	/*text-indent: -9999em;*/
	height: 600px;
	background: url(../images/top-bg.png) repeat-x; 
  border-bottom: 5px #a31d21 solid;
  font-size: 100px; 
  overflow: hidden;
  word-wrap: break-word;
  font-weight: 800;
  word-spacing: -1px;
  letter-spacing: -3px;
	text-align: center;
	position: relative;
}
.hero div{
	height: 10px;
}

.hero small{
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: -100px;
}
.hero a{	
	font-size: 30px;
	color: #a31d21;
	padding: 0 10px;
	letter-spacing: 1px;
}

.hero img{
	text-align: center;
	margin-top: 200px;
	width: 60%;
}

div.navbar.navbar-default.navbar-fixed-top {
	background-color: white;
	border-bottom: 1px solid black;	
	margin-bottom: 0px;
}

.nav > li {
	background-color: white;
}

.navbar-default .navbar-nav > li > a{
	text-transform: lowercase;
	font-size: 20px;
	border-bottom: 2px solid white;
}


.navbar-default .navbar-nav > li > a:hover {
	background-color: white;
	border-bottom: 2px solid black;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: white;
	border-bottom: 2px solid black;
}


.meat {
	width: 100%;
	min-height: 300px;
	border-bottom: 5px #a31d21 solid;
	float: left;
}

.meat > *{
	width: 60%;
	margin: 0 20%;
}

.meat p{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 20px;
}
.meat:nth-child(odd){
	background-color: #a31d21;
	color: #ffffff;
}


.meat h1{
	text-align: left;
	margin-top: 10px;
	border-bottom: 1px solid #a31d21;
	padding-bottom: 5px;
}


.meat:nth-child(odd) h1{
	border-bottom: 1px solid white;
}

.company{
	border-bottom: solid 1px #a31d21;
	position: relative;
	
}
.company p{
	margin-bottom: 20px;	
}

.company a{
	margin-bottom: 20px;	
	color: black;
	font-size: 40px;
	position: absolute;
	right: 10px;
	top: 15px;
}

 
.company:last-child{
	border: none;
	
}

#traits h2{
	text-indent: -9999em; 
	background-size: 200px auto;
	background: url(../_img/trait-logo.png) no-repeat left;
	min-height: 100px;
	  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;

}

#dendrite h2{
	text-indent: -9999em; 
	background-size: 200px auto;
	background: url(../_img/dendrite-logo.png) no-repeat left;
	min-height: 100px;
		  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

#armenia.meat{
	min-height: 100px;
}

#armenia p{
	font-size: 45px;
	text-align: left;
}


#map.meat{
	border: none;
}

#map.meat h1{
	text-align: center;
}








